torch
torchvision
torchaudio
torchmetrics
numpy==1.26.0
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
librosa
git+https://github.com/AndreevP/wvmos
speechbrain
gdown
wget
triton

black
isort
pre-commit